{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": { "version": "detect" }
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "no-self-assign": "off",
    "no-empty-pattern": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "space-before-function-paren": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline"
    }]
  }
}
