<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 data-id="title" class="modal-title">Data Packagist Documentation</h4>
    </div>
    <div class="modal-body" data-id="dialog-content"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" title="Close dialog">Close</button>
    </div>
  </div>
</div>