<div data-id="dialog" class="dialog">
  <section data-id="dialog-content"></section>
  <div class="vertical-gap"></div>
  <div class="vertical-gap"></div>
  <button data-id="close" type="button" class="btn btn-info btn-sm" title="Close dialog">Close</button>
</div>
