<div class="dialog">
  <div>
    <div class="upload-btn">
      <button data-id="upload-local" type="button" class="btn btn-success upload-btn__txt">Upload local file</button>
      <input type="file" data-id="file-input" hidden>
    </div>
  </div>

  <div class="vertical-gap dialog-or">Or</div>

  <div class="form-group">
    <label for="upload-URL" class="control-label">Upload from URL</label>

    <div class="upload-control">
      <input type="text" id="upload-URL" class="form-control">
      <button data-id="upload-url" type="button" class="btn btn-success btn-sm" title="Close dialog">Upload</button>
    </div>
  </div>

  <div class="vertical-gap"></div>
  <div class="vertical-gap"></div>
  <button data-id="close" type="button" class="btn btn-info btn-sm" title="Close dialog">Cancel</button>
</div>
