.result.panel .panel-heading .badge,
.result.panel .panel-heading .label {
  margin-right:10px;
}

.result.panel .panel-heading ol {
  margin:0;
  padding:0;
}
.result.panel .panel-heading ol > li {
  display:block;
  clear:both;
}

.result.panel .panel-heading ol > li:before {
  content: counter(finding-counter);
  counter-increment: finding-counter;
  background-color:#fff;
  color: black;
  border-radius: 0.25em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  margin-right:10px;
}

.result.panel .panel-heading ol li a:last-child {
  float:right;
}

.result.panel .panel-body {
  overflow-x:scroll;  
}

.result.panel .panel-body table {    
  margin:0;
}

.result.panel .panel-body table .result-header-row,
.result.panel .panel-body table .result-row-index {
  background-color: #eee;
}