<div class="panel-heading">
  <ol>{{#each results}}
    <li>
      <span class="text-uppercase label label-danger">{{ result_level }}</span>
      <span class="label label-info">{{ processor }}</span>
      <strong>{{ result_name }}</strong>:&nbsp;
      {{ result_message }}
    </li>
  {{/each}}</ol>
</div>

<div class="panel-body">
  <strong><span class="text-uppercase">Headers</span></strong>

  <table class="table table-bordered table-condensed">
    <tbody>
      <tr class="result-header-row"></tr>
      
      <tr class="result-row">
        <td class="">Post Unique Reference</td>
        <td class="">Name</td>
        <td class="">Grade (or equivalent)</td>
        <td class="">Job Title</td>
        <td class="">Job/Team Function</td>
        <td class="">Parent Department</td>
        <td class="">Organisation</td>
        <td class="">Unit</td>
        <td class="">Contact Phone</td>
        <td class="">Contact E-mail</td>
        <td class="">Reports to Senior Post</td>
        <td class="">Salary Cost of Reports (Ł)</td>
        <td class="">FTE</td>
        <td class="">Actual Pay Floor (Ł)</td>
        <td class="">Actual Pay Ceiling (Ł)</td>
        <td class="bg-danger"></td>
        <td class="">Professional/Occupational Group</td>
        <td class="">Notes</td>
        <td class="">Valid?</td>
      </tr>
    </tbody>
  </table>
</div>